<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">9
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap ">
    <title>Comunidad</title>
</head>
<body>
    <style> 
        body { background: linear-gradient(to bottom, #4E2394, #000000); margin: 0; height: 100vh; display: flex; justify-content: center; align-items: center; }
   </style>
    
    <div class="contenedor">
        <div id="Comunidad">
            <h1 class="titulo" style="color: white;">Selecciona el juego al que quieres vincular a tu perfil</h1>   
             <img src="/static/images/840_560.jpeg" alt="">
        </div>
   </div> 
      
</body>
</html>