{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center text-white"><strong>Bienvenidos a Teamupgg</strong></h1>
        <p class="text-center text-white">El mejor lugar para formar tu equipo</p>
      </div>
    </div>

    <div class="row justify-content-evenly">
      <div class="col-12 col-sm-6 col-md-4 mt-3">
        <div class="card border-light rounded-0">
          <img src="/static/images/imgtorneo.png" class="card-img-top" alt="Logo de la aplicación" />
          <div class="card-body bg-black bg-gradient">
            <h3 class="card-title text-center"><strong>Publicaciones</strong></h3>
            <p class="card-text">Publica tus anuncios y encuentra jugadores para tu equipo</p>
            <div class="text-center">
              <a href="{% url 'publicaciones' %}" class="btn btn-outline-custom w-100">Ver Publicaciones</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mt-3">
        <div class="card border-light rounded-0">
          <img src="/static/images/imgtorneo.png" class="card-img-top" alt="Logo de la aplicación" />
          <div class="card-body bg-black bg-gradient">
            <h3 class="card-title text-center"><strong>Torneos</strong></h3>
            <p class="card-text">Crea o Participa en los torneos de Teamupgg y divierte al maximo</p>
            <div class="text-center">
              <a href="{% url 'torneos' %}" class="btn btn-outline-custom w-100">Ver Torneos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
