{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center text-white"><strong>Torneos</strong></h1>
        <p class="text-center text-white">Publica tus Torneos y encuentra jugadores con quienes enfrentarte</p>
        <div class="text-center">
          <a href="{% url 'nuevo_torneo' %}" class="btn btn-custom text-center w-75 fs-4">Crear Torneo</a>
        </div>
      </div>
    </div>

    <div class="row justify-content-between">
      {% for torneo in torneos %}
        <div class="col-lg-6">
          <div class="card bg-black bg-gradient border-light mt-3">
            <div class="card-header text-center">
              <h6 class="card-text">{{ torneo.game|title }}</h6>
            </div>
            <div class="card-body">
              <h3 class="card-title text-center">{{ torneo.title|title }}</h3>
              <h4 class="text-center">
                {% if torneo.is_public %}
                  <span class="badge bg-success"><i class="bi bi-unlock-fill"></i></span>
                {% else %}
                  <span class="badge bg-danger"><i class="bi bi-lock-fill"></i></span>
                {% endif %}
              </h4>
              <p class="card-text text-center">{{ torneo.description }}</p>
              <h6 class="text-center">Fecha y Hora del Torneo</h6>
              <p class="card-text text-center">{{ torneo.date_of_tournament }}</p>
              <h6 class="text-center">Participantes</h6>
              <p class="card-text text-center">{{ torneo.signed_in_players.count }} / {{ torneo.max_players }}</p>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-outline-custom w-75 fs-4" data-bs-toggle="modal" data-bs-target="#modal{{ torneo.id }}">
                Inscribirse
              </button>
            </div>
          </div>
        </div>
        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="modal{{ torneo.id }}" tabindex="-1" aria-labelledby="modal{{ torneo.id }}Label" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content bg-black bg-gradient rounded-4 border-light">
              <div class="modal-header">
                <h5 class="modal-title" id="modal{{ torneo.id }}Label">Inscribirse a {{ torneo.title|title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <form action="{% url 'inscribirse_torneo' torneo.id %}" method="post" id="form{{ torneo.id }}">
                  {% csrf_token %}
                <p>¿Estás seguro de que deseas inscribirte a {{ torneo.title|title }}?</p>
                <p>Recuerda que una vez inscrito no podrás desinscribirte</p>

                  

                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" form="form{{ torneo.id }}" class="btn btn-custom">Inscribirse</button>                
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
